@import "./normalize.css";

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: #272a33;
  color: white;
  font-family: "Open Sans", "Segoe UI", sans-serif;
  font-size: 14px;
  padding: 10px;
}

main {
  padding-bottom: 80px;
  .instance {
    display: flex;
    gap: 5px;
    flex-direction: column;
    &:not(:first-child) {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid #3c404d;
    }
  }
}
.top,
.bottom {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.container-animations {
  .minititle {
    margin-bottom: 5px;
  }
}

footer {
  background: #272a33;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  border-top: 1px solid #0000008f;
  z-index: 100;
}

#controls {
  .w-full {
    width: 100%;
  }
  hr {
    border-top: 1px solid #3c404d;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
  }

  button {
    background-color: #3c404d;
    color: white;
    border: 0;
    margin: 0;
    padding: 10px;
    border-radius: 7px;
    &[disabled] {
      opacity: 0.5;
    }
    &:hover {
      background-color: #464b59;
      box-shadow: inset 0 0 0 1px #555b6b;
    }
    &.sm {
      font-size: 12px;
      padding: 0.5em;
      background-color: #3c404d8f;
      align-self: flex-start;
    }
  }
  input {
    outline: none;
    padding: 10px;
    border-radius: 7px;
    border: 0;
    color: white;
    background-color: #3c404d;
    border: 1px solid #3c404d;
    &[disabled] {
      opacity: 0.5;
    }
    &:hover,
    &:focus {
      background-color: #1d1f26;
      border-color: #5b6273;
    }
  }
  .input-checkbox {
    display: flex;
    gap: 5px;
  }
  .minititle {
    font-size: 12px;
  }
  .header {
    font-weight: 600;
  }
}
